:root {
    --blue: #4417DD;
    --blue-dark: #240d74;
    --light-purple: #E8E7FF
}

#about-us {
    background-image: url("../img/background-image-logo.png");
    background-repeat: no-repeat;
}

.section-title {
    font-size: 3.5rem;
    color: var(--blue-dark);
    text-transform: uppercase;
    margin-bottom: 0;
}

.present img {
    height: 170px;
    width: 250px;
    border-radius: 1rem;
    margin-bottom: 2rem;
}


/* grid */
.about-us-container {
    display: flex;
    justify-content: center;
}

.about-us-img {
    grid-column-start: 1;
    grid-row-start: 2;
    /* background-color: green; */
    text-align: start;
}

.about-us-body {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
    color: var(--blue-dark);
    align-self: end;
}

.icons {
    list-style: none
}

.tech-icons {
    text-align: center;
}

/* smartphones más chicos que iphone XS*/
@media (max-width: 400px) {
    #proyectos h2.section-title {
        margin-top: 200px !important;
    }
}

/* smartphones */
@media (max-width: 575.98px) {
    .about-us-container {
        margin: 50px 8% 50px 8%;
    }

    .about-us-container {
        display: block;
    }

    .about-us-title {
        display: flex;
        align-items: flex-start;
        margin-bottom: 30px;
    }

    .about-us-title .section-title {
        font-size: 4rem;
        color: var(--blue-dark);
        text-transform: uppercase;
        line-height: 0.9;
        text-align: center;
    }

    .about-us-img {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .about-us-img img {
        width: 100% !important;
        aspect-ratio: 9 / 4;
        height: auto;
        object-fit: cover;
        border-radius: 25px;
    }

    .about-us-body {
        text-align: center;
        font-size: 1.1rem;
        font-family: "Montserrat", sans-serif;
    }

    .technologies {
        text-align-last: center;
    }

    .technologies .section-title {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .tech-icons img {
        height: 40px;
        padding-left: 2px;
        padding-right: 2px;
    }

    .tech-icons {
        text-align: center;
    }
}

/* tablets */
@media (min-width: 576px) and (max-width: 991.98px) {
    .about-us-container {
        margin: 50px 10% 50px 10%;
    }

    .about-us-container {
        display: block;
    }

    .about-us-title .section-title {
        font-size: 4rem;
        color: var(--blue-dark);
        text-transform: uppercase;
        line-height: 0.9;
        text-align: center;
        align-self: center;
    }

    .about-us-img {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .about-us-img img {
        width: 100% !important;
        aspect-ratio: 9 / 4;
        height: auto;
        object-fit: cover;
        border-radius: 25px;
    }

    .about-us-body {
        text-align: center;
        font-size: 1.5rem;
        font-family: "Montserrat", sans-serif;
        margin-top: 20px;
        margin-right: 40px;
        margin-left: 40px;
    }

    .technologies {
        text-align-last: center;
    }

    .technologies .section-title {
        font-size: 2.5rem;
    }

    .tech-icons {
        margin-top: 1rem;
    }

    .tech-icons img {
        height: 40px;
        padding-left: 3px;
        padding-right: 3px;
    }

}

/*computador*/
@media (min-width: 992px) {

    .about-us-container {
        margin: 80px 0 0 0;
        margin-left: 0 !important;
    }

    .about-us-title {
        display: flex;
        width: 30vw;
    }

    .about-us-title .section-title {
        font-size: 4.3rem;
        color: var(--blue-dark);
        text-transform: uppercase;
        line-height: 0.9;
        align-self: center;
    }

    section#about-us .about-us-container .about-us-title .section-title {
        display: flex;
        text-align: end;
        margin-right: 2rem;
        align-self: flex-start;
    }

    section#about-us .about-us-container .about-us-body .mt-5 .primary-button-wrapper {
        float: inline-start;
    }

    .about-us-img {
        margin-top: -2rem;
    }

    .about-us-img img {
        width: 38vw !important;
        aspect-ratio: 9 / 4;
        height: auto;
        object-fit: cover;
        border-radius: 25px;
    }

    .about-us-body {
        margin-left: 2rem;
        margin-right: 2.3rem;
        max-width: 650px;
    }

    .about-us-body:nth-child(3) {
        margin-bottom: 0
    }

    .about-us-body p {
        font-size: 1.1rem;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 1.6rem;
    }

    .technologies {
        margin-left: 30px;
        margin-top: 4rem;
    }

    .technologies .section-title {
        font-size: 2.3rem;
        margin-bottom: 1rem;
    }

    .tech-icons img {
        height: 60px;
        margin-right: 1rem;
        filter: saturate(0);
        transition: filter 0.2s ease, transform 0.2s ease;
        /* Agrega transición para filter y transform */
    }

    .tech-icons img:hover {
        filter: none;
        cursor: pointer;
        transform: scale(1.3);
        /* Aumenta el tamaño de la imagen en hover */
    }
}