:root {
    --blue: #4417DD;
    --blue-dark: #240d74;
    --light-purple: #E8E7FF
}

/*cards proyecto destacado*/
.proy-dest-card-2 {
    background-color: white;
    border: none !important;
    border-radius: 15px !important;
    margin: 10px;
    width: auto;
    height: 0;
    padding-top: 33.33%;
    /* This creates a height based on 1:3 ratio */
    position: relative;
    overflow: hidden;
}

.img-proy-dest {
    width: 100%;
    /* La imagen ocupará todo el ancho del contenedor */
    height: auto;
    /* Mantén el aspecto de la imagen al cambiar el ancho */
    aspect-ratio: 1 / 1;
    /* Asegura que la imagen sea cuadrada */
    object-fit: cover;
    /* Cubre el área del contenedor, recortando si es necesario */
    border-radius: 15px;
    /* Si quieres bordes redondeados */
}

.proy-dest-card p {
    color: var(--blue-dark)
}

.proy-dest-card h3 {
    padding-top: 1.5rem;
    padding-bottom: 0.4rem;
    color: var(--blue-dark)
}

/* Smartphones (max-width: 575.98px) */
@media (max-width: 575.98px) {
    
}

/* Tablets (min-width: 576px) and (max-width: 991.98px) */
@media (min-width: 576px) and (max-width: 991.98px) {
   
}

/* Desktops (min-width: 992px) */
@media (min-width: 992px) {
    
}