:root {
    --blue: #4417DD;
    --blue-dark: #240d74;
    --light-purple: #E8E7FF
}

/*hover zoom */
.card-proyecto-title {
    margin-top: -10px;
    color: var(--blue-dark);
    font-family: "Lalezar", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
}

.proy-dest-card details[open] .card-proyecto-descr {
    transition: translate .2s ease-in, opacity .2s ease;
    translate: 0 0;
    opacity: 100;

    @starting-style {
        translate: 0 -50px;
        opacity: 0;
    }
}

.card-proyecto-descr {
    font-family: "Montserrat", sans-serif;
    color: var(--blue-dark);
}

/*zoom effect*/
.zoom-wrapper {
    overflow: hidden;
    border-radius: 16px;
}

.img-proy-dest {
    object-fit: contain;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 15px;
    transition: transform 0.8s;
    height: 100%;
}

.zoom-wrapper:hover .img-proy-dest {
    transform: scale(1.2);
}


/* Smartphones (max-width: 575.98px) */
@media (max-width: 575.98px) {}

/* Tablets (min-width: 576px) and (max-width: 991.98px) */
@media (min-width: 576px) and (max-width: 991.98px) {
    .card-proyecto-descr {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 3em;
        /* Altura fija para 3 líneas de texto aproximadamente */
        line-height: 1.5em;
        /* Altura de cada línea */
        max-height: 4.5em;
        /* Asegura que no exceda 3 líneas */
        margin-bottom: 1rem;
        ;
    }

    .proy-dest-card {
        width: 40vw;
        margin: auto;
    }

    .proy-dest-card h3 {
        padding-top: 1.3rem;
        padding-bottom: 0;
    }
}

/* Desktops (min-width: 992px) */
@media (min-width: 992px) {
    .card-proyecto-descr {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 4.2em;
        /* Altura fija para 3 líneas de texto aproximadamente */
        line-height: 1.5em;
        /* Altura de cada línea */
        max-height: 4.5em;
        /* Asegura que no exceda 3 líneas */
        margin-bottom: 1rem;
    }
}