:root {
    --blue: #4417DD;
    --blue-dark: #240d74;
    --light-purple: #E8E7FF;
}

/* Footer ocupa todo el ancho de la página */
footer {
    background-color: var(--blue-dark);
    margin: 0 !important;
    width: 100vw !important;
    padding: 0;
}

/* Elimina el padding lateral de la clase container */
.container {
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* smartphones */
@media (max-width: 575.98px) {
    .footer-list li {
        display: flex;
        flex-direction: row-reverse;
    }

    .sm-center {
        margin-right: auto !important;
        margin-left: auto !important;
        margin-bottom: 15px;
        display: block;
    }

    .footer-link {
        display: block;
        margin: auto;
    }

}

/* tablets */
@media (min-width: 576px) and (max-width: 991.98px) {
    .container {
        margin-left: 2rem !important;
        margin-right: 2rem !important;
    }
}

/*computador*/
@media (min-width: 992px) {
    .container {
        margin-left: 3rem !important;
        margin-right: 3rem !important;
    }
}

.footer-link {
    text-transform: uppercase;
    color: white !important;
}