:root {
    --blue: #4417DD;
    --blue-dark: #240d74;
    --light-purple: #E8E7FF;
}

/* Footer ocupa todo el ancho de la página */
footer {
    background-color: var(--blue-dark);
    margin: 0 !important;
    width: 100vw !important;
    padding: 0;
}

footer>div {
    margin: auto !important;
}

li.nav-item a.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    right: 0;
    bottom: 3px;
    background-color: #fff;
    transition: width 0.4s ease;
}

.nav-link:hover::after {
    width: 48%;
}

/* Elimina el padding lateral de la clase container */
.container {

    padding-left: 0 !important;
    padding-right: 0 !important;
}

.footer-bottom {
    max-width: 1140px;
    text-align: center;
    padding: 10px 0;
    background-color: var(--blue-dark);
    color: white;
    display: flex;
    justify-content: space-between;
}

.footer-contacto>a {
    display: block;
    text-align: end;
    color: white;
    text-decoration: none;
}

.footer-contacto>a:hover {
    font-weight: bold;
}

.footer-link {
    text-transform: uppercase;
    color: white !important;
}

/*super large */
@media (min-width: 1400px) {
    .footer-bottom {
        margin: auto;
        max-width: 1320px;
    }
}

/*large*/
@media (min-width: 1200px) {
    .footer-bottom {
        margin: auto;
        max-width: 1140px;
    }
}

/*computador*/
@media (min-width: 992px) {

    .container,
    .footer-bottom {
        margin: auto;
        max-width: 960px;
    }

    a.nav-link.footer-link {
        padding-right: 0;
        margin-right: 0;
        text-align: end;
    }
}

/* tablets */
@media (min-width: 576px) and (max-width: 991.98px) {
    .container {
        margin-left: 2rem !important;
        margin-right: 2rem !important;
    }
    .footer-bottom {
        margin-right: 5vw !important;
        margin-left: 5vw !important;
    }

    a.nav-link.footer-link {
        padding-right: 0;
        margin-right: 25px;
        text-align: end;
    }

}

@media (min-width: 768px) {
    .footer-bottom {
        max-width: 1320px;
    }
}

/* smartphones */
@media (max-width: 575.98px) {
    .footer-list li {
        display: flex;
        flex-direction: row-reverse;
    }

    .sm-center {
        margin-right: auto !important;
        margin-left: 5vw !important;
        margin-bottom: 15px;
        display: block;
    }

    .footer-link {
        display: block;
        margin: auto;
    }

    .footer-link::after {
        right: 15px;
    }

    .footer-link {
        margin: 0 8px;
    }

    .footer-bottom p {
        text-align: left;
        max-width: 190px;
        margin-left: 5vw !important;
    }

    .footer-contacto {
        margin-right: 5vw;
    }

}

/* mini smartphones */
@media (max-width: 370px) {
    .footer-bottom p {
        max-width: 130px;
    }

    .footer-link {
        margin-right: 20px;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}