

.nav-link{
    font-weight: bold !important;
    margin-right: 40px;
    margin-left: 40px;
    color: var(--blue-dark) !important;
}

/* Smartphones (max-width: 575.98px) */
@media (max-width: 575.98px) {
    .navbar {
        margin: 0.4rem 0.5rem 2rem 0.5rem;
    }

    .navbar-logo {
        height: 60px;
    }

    .navbar-nav a {
        align-self: center;
    }
}

/* Tablets (min-width: 576px) and (max-width: 991.98px) */
@media (min-width: 576px) and (max-width: 991.98px) {
    .navbar {
        margin: 0 0.5rem 1.5rem 0.5rem;
    }

    .navbar-logo {
        height: 80px;
    }

    .navbar > .container {
        justify-content: space-between;
    }

    .navbar-nav a {
        align-self: center;
    }
}

/* Desktops (min-width: 992px) */
@media (min-width: 992px) {
    nav.navbar {
        margin: 0rem 8vw 3rem 8vw !important;
    }

    .navbar-logo {
        height: 80px;
    }
}