:root {
    --blue: #4417DD;
    --blue-dark: #240d74;
    --light-purple: #E8E7FF
}

.proyectos-destacados {
    padding-top: 50px;
    background-image: linear-gradient(
        to bottom,
        white 0%,       /* Empieza en blanco en la parte superior */
        var(--light-purple) 5%,      /* Mantén blanco hasta el 20% de la altura */
        var(--light-purple) 50%,       /* Cambia a aqua en el 50% de la altura */
        var(--light-purple) 95%,      /* Cambia de nuevo a blanco en el 80% */
        white 100%      /* Termina en blanco en la parte inferior */
    );
    padding-bottom: 70px;

}

.section-title {
    font-size: 2.1rem;
    color: var(--blue-dark);
}

/* Smartphones (max-width: 575.98px) */
@media (max-width: 575.98px) {
    .margin-x-10 {
        margin-left: 10% !important;
        margin-right: 10% !important;
    }

    .--bs-gutter-x-sm-0 {
        --bs-gutter-x: 0 !important;
    }

    .section-title {
        font-size: 2.9rem;
    }

    .max-width-sm-80vw {
        max-width: 90vw;
    }
}

/* Tablets (min-width: 576px) and (max-width: 991.98px) */
@media (min-width: 576px) and (max-width: 991.98px) {
    .--bs-gutter-x-sm-0 {
        --bs-gutter-x: 0 !important;
    }

    .max-width-md-90vw {
        max-width: 95vw;
    }


   
}

/* Desktops (min-width: 992px) */
@media (min-width: 992px) {
    .max-width-lg-80vw {
        max-width: 80vw;
    }

    .font-size {
        font-size: 3.5rem
    }

    .max-width-sm-80vw {
        max-width: 80vw;
        
    }
}