.slider {
    background: transparent;
    height: 150px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 90vw;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 150px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slide-track {
    animation: scroll 50s linear infinite;
    display: flex;
    width: calc(500px * 16);
}

.slide {
    height: 120px;
    width: 500px;
    margin-right: 35px;
    border-radius: 20px;
    background-color: var(--light-purple);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-500px * 8));
    }
}

/* Smartphones (max-width: 575.98px) */
@media (max-width: 575.98px) {
    .slider::before,
    .slider::after {
        width: 80px;
    }
  .max-width-sm-90vw {
    max-width: 90vw;
    margin: auto !important;
  }
}

/* Tablets (min-width: 576px) and (max-width: 991.98px) */
@media (min-width: 576px) and (max-width: 991.98px) {

}

/* Desktops (min-width: 992px) */
@media (min-width: 992px) {
   .max-width-lg-85vw {
    max-width: 85vw;
    margin: auto !important;
   }
}