#servicios {
    padding-bottom: 160px;
}

.section-title {
    font-size: 3.5rem;
    color: var(--blue-dark);
    line-height: 2.5rem;
}

.grid-servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0;
    margin: 20px 6%;
    justify-items: center;
}

.grid-servicios * {
    width: 25vw;
    height: 25vw;
    min-width: 200px;
    border: none;
}

/* Smartphones (max-width: 575.98px) */
@media (max-width: 575.98px) {
    #servicios {
        padding-bottom: 0;
    }

    .grid-servicios {
        display: block;
        justify-items: center;
    }
}

/* Tablets (min-width: 576px) and (max-width: 991.98px) */
@media (min-width: 576px) and (max-width: 991.98px) {}

/* Desktops (min-width: 992px) */
@media (min-width: 992px) {
    #servicios .section-title {
        font-size: 3.5rem;
    }

    .grid-servicios {
        margin-right: 10vw;
        margin-left: 10vw;
    }

}